<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> the application does not restrict you to
  <a routerLink="/login" class="alert-link">Sign In</a>,
  however to access the application other settings you must SignIn.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<app-ads-page></app-ads-page>
<div class="row">
  <div class="col-md-11">
    <app-employee-list></app-employee-list>
  </div>
  <div class="col-md-1">
    <app-sidebar></app-sidebar>
  </div>
  <br>
  <br>
  <app-copyright></app-copyright>
</div>
