<div class="alert alert-success alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="d-flex flex-wrap flex-xl-nowrap flex-lg-nowrap flex-md-nowrap">
    <div class="p-2">
      <a href="https://angular.io/guide/cheatsheet" target="_new">
        <img src="assets/images/NgMandark.png" class="rounded" width="193" height="193" />
      </a>
    </div>
    <div class="p-2">
      <h5 class="alert-heading"><a href="https://geekflash.herokuapp.com" target="_new">[#1 Complete Guide] Angular with Redux</a></h5>
      <p>Master Angular (both Angular 5.2 and the next Angular 6) and build awesome, reactive web apps with the successor of Angular.js</p>
      <ul>
        <li>Develop modern, complex, responsive and scalable web applications with Angular 4</li>
        <li>Fully understand the architecture behind an Angular 4 application and how to use it</li>
      </ul>
      <a href="https://github.com/Rodcode47/Todo-App" target="_new" class="btn btn-outline-danger btn-md">Download the Code!</a>
    </div>
  </div>
</div>
