<div class="alert alert-success alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="d-flex flex-wrap flex-xl-nowrap flex-lg-nowrap flex-md-nowrap">
    <div class="p-2">
      <a href="https://angular.io/guide/cheatsheet" target="_new">
        <img src="assets/images/Dexter.png" class="rounded" width="120" height="120" />
      </a>
    </div>
    <div class="p-2">
      <h6 class="alert-heading float-right badge badge-pill"><a href="https://geekflash.herokuapp.com" target="_new">Checkout more Guides</a></h6>
      <h4><b>[Front-End] Angular 5.2 CRUD Application</b></h4>
      <p>
        This guide was crafted to benefit absolutely any level of developer. We will start from scratch and learn how to create a 
        development environment for Angular 5.2, Setup Angular CLI. We start by building a sandbox application to building a logging 
        application, then add more advanced features of content management system with authentication and data storing with Firebase's new Firestore 
        platform.
      </p>
      <ul>
        <li>Master Angular concepts</li>
        <li>Build amazing single page applications using Angular 5.2</li>
        <li>Fully understand the architecture behind an Angular 5.2 application and how to use it</li>
        <li>Build a client management application with authentication and Firebase's Firestore</li>
        <li>Integrate Bootstrap 4 and other custom Styles or Scripts into Angular projects</li>
      </ul>
      <a href="https://github.com/Rodcode47" target="_new" class="badge badge-danger">Download the Code!</a>
    </div>
  </div>
</div>
